.header {
    height: 606px;
    background: #fdf8e8;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
.header h1 {
    font-family: "Product Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FF8019;
}
.dFlex {
    display: flex;
    height: 606px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.moneyCard {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.moneyCard .card {
    width: 360.65px;
    height: 243.44px;
    background: #FFFFFF;
    border-radius: 12.122px;
    padding: 2rem;
    margin: 0 .5rem;
}
.moneyCard .card h4 {
    font-family: "Product Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #333333;

}
.moneyCard .card p {
    font-family: "Product Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
    margin: 1rem 0;

}
.card a {
    font-family: "Product Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration-line: underline;
    color: #FF8019;
    margin-top: 4rem;
}
@media (max-Width: 960px) {
    .header {
        background-color: #F4D067;
        height: 558px;
    }
    .dFlex {
        height: 558px;
    }
    .container {
        width: 880px
    }
}

@media (max-Width: 640px) {
    .header {
        background-color: #FDF8E8;
        height: 508px;
    }
    .dFlex {
        height: 508px;
    }
    .container {
        width: 560px
    }
}

@media (max-Width: 480px) {
    .header {
        background-color: #FDF8E8;
        height: 394px;
    }
    .dFlex {
        height: 394px;
    }
    .container {
        width: 346px
    }
    .header h1 {
        font-size: 18px;
        line-height: 22px;
        width: 196px;
    }
    .moneyCard .card p {
        font-size: 16px;
        width: 248.14px;
    }
    .card {
        width: 290px;
        height: 246px !important;
    }
}