.tabList {  
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    justify-content: space-evenly;
    width: 1108.08px;
    height: 60.87px;
    background: #FFFFFF;
    border: 0.972375px solid #C5C7CD;
    box-sizing: border-box;
    border-radius: 6.44231px;
  }
  
  .tabListItem {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    font-family: "Product Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 18.0385px;
    line-height: 100.8%;
    text-align: center;
    letter-spacing: 0.637495px;
    color: #999999;
    cursor: pointer;
  }

  .tabListItem::after {
    content: "|";
    margin-left: 30px;
  }
  .tabListItem:last-child:after {
    content: "";
    margin-left: 30px;
  }
  
  .tabListActive {
    display: inline-block;
    cursor: pointer;
    padding: .9rem 1rem;
    background: #FF8019;
    border-radius: 9.72375px;
    font-family: "Product Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 18.0385px;
    line-height: 100.8%;
    text-align: center;
    letter-spacing: 0.637495px;
    color: #FFFFFF; 
  }
  /* .tabListActive::after {
    content: "|";
    margin-left: 30px;
    height: 50.87px;
    background: unset;
  } */
  /* .tabListActive:last-child:after {
    content: "";
    margin-left: 30px;
    height: 50.87px;
  } */
  /* .tabContent {
       width: 100%;
      height: 500px; 
  } */